@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #363636;
    background: linear-gradient(135deg,rgba(54, 54, 54, 1) 0%, rgba(112, 129, 161, 1) 75%, rgba(128, 183, 255, 1) 100%);
}

.container {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 1fr;
    background: #757575;
    border: 10px solid #464646;
    border-radius: 5px;
    gap: 10px;
}

:root {
    --red: #de2430;
    --orange: #ff9756;
    --yellow: #ffc107;
    --green: #4caf50;
    --blue: #5172de;
    --light-blue: #51a3de;
    --purple: #9044ee;
    --grey: #78838d;
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    align-content: center;
}

.tooltip,
.main-text {
    font-family: "B612 Mono", monospace;
    color: white;
}

#alerts {
    width: 25%;
    font-family: "B612 Mono", monospace;
    background-color: var(--green);
    text-align: center;
    border: 4px solid #26752b;
}

.button {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    color: white;
    transition-duration: 0.2s;
}
.btn-sml {padding: 5px 13px;}
.btn-med {padding: 7px 20px;}
.btn-lrg {padding: 10px 27px;}

.btn-red {background-color: var(--red);}
.btn-orange {background-color: var(--orange);}
.btn-yellow {background-color: var(--yellow);}
.btn-green {background-color: var(--green);}
.btn-blue {background-color: var(--blue);}
.btn-light-blue {background-color: var(--light-blue);}
.btn-purple {background-color: var(--purple);}
.btn-grey {background-color: var(--grey);}

.button:hover {filter: brightness(80%);}

input[type="text"] {
    font-family: "B612 Mono", monospace;
    margin: 4px 2px;
    color: white;
    background-color: var(--grey);
    padding: 4px;
}

.tooltip-parent:hover + .tooltip {
    display: block;
}
.tooltip-parent + .tooltip {
    display: none;
}
.tooltip {
    z-index: 100;
    position: fixed;
    background-color: var(--grey);
    border: 5px solid #4d515b;
    padding: 10px 20px;
}